html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */
}

header {
    font-size: 22px;
    background-color: rgb(136, 138, 141);
    text-align: center;
    grid-column: 1 / 4;
}

nav {
    background-color: rgb(144, 110, 161);
    grid-column: 1 / 2;
}

nav > div {
    border: 1px solid rgba(247, 241, 216, 0.808);
    border-radius: 3px;
    text-align: center;
}

main {
    background-color: rgb(33, 155, 163);
    grid-column: 2 / 4;
}

footer {
    font-size: 20px;
    background-color: rgba(50, 30, 180, 0.87);
    text-align: center;
    grid-column: 1 / 4;
}
@media only screen and (max-width: 700px){
    #grid-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */
        height: 100vh;
        background-color: burlywood;
    }
    
    header {
        font-size: 22px;
        background-color: rgb(136, 138, 141);
        text-align: center;
        grid-column: 1 / 2;
    }
    
    nav {
        background-color: rgb(144, 110, 161);
        grid-column: 1 / 2;
    }
    
    nav > div {
        border: 1px solid rgba(247, 241, 216, 0.808);
        border-radius: 3px;
        text-align: center;
    }
    
    main {
        background-color: rgb(33, 155, 163);
        grid-column: 1 / 2;
    }
    
    footer {
        font-size: 20px;
        background-color: rgba(50, 30, 180, 0.87);
        text-align: center;
        grid-column: 1 / 2;
    }
}
