*{
    margin:0;
    padding:0;
}
body{
    background-color: tan;
}
.con{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 100px);
        grid-gap: 400px;
        margin-left: 178px;
        margin-top: 104px;
}


.mo{
    background-color:tan;
    /* border: solid black 10px; */
    width:  90px;
    height: 90px;
    grid-column: 2 / 3 ;
  
}
.bob{
    background-color:tan;
    /* border: solid black 10px; */
    height: 80px;
    width: 80px;
    /* grid-column: 1 /2 ; */
    grid-row: 2 / 2 ;
  
}
.goom{
    background-color:tan;
    /* border: solid black 10px; */
    height: 96px;
    width: 96px;
  
}
.cheep{
    background-color:tan;
    /* border: solid black 10px; */
    height: 96px;
    width: 96px;
    grid-row: 2 / 2;
   
}
img{
    height: 96px;
    width: 96px;
    object-fit:cover;
}
#ht{
    background-color: tomato;
    border: solid black 16px;
    text-align: center;
    padding: 43px 0px 58px 0px;
    font-size: 4em;
}
.coin{
    height: 18px;
    width: 18px;

}