body{
    background-color: rgb(248, 2, 2);
}

#con1{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-around;
    background-color: blue;
    width: 50%;
}
div{
    padding:0px 0px 0px 4px;
}