* {
    font-size: 0;
    box-sizing: border-box;
}

body{
    background-color:black;

}

#pink{
    height: 50px;
    background-color: pink;
    /* border: 4px solid white; */
}
#darkp>div{
    height: 50px;
    display: block;
    background-color: rgb(160, 43, 62);
    border: 4px solid white;
}
#bblue>div{
    height: 50px;
    display: block;
    background-color:lightblue;
    border: 4px solid white;
}
#go>div:first-child{
    height: 50px;
    display: block;
    background-color: rgb(15, 128, 0);
    border: 4px solid white;
}
#go>div:last-child{
    height: 50px;
    display: block;
    background-color: orange;
    border: 4px solid white;
}

@media only screen and (min-width: 768px){
    #pink{
        height: 50px;
        background-color: pink;
        border: 4px solid white;
    }
    #darkp>div{
        height: 50px;
        display: inline-block;
        background-color: rgb(160, 43, 62);
        border: 4px solid white;
        width: 25%;
    }
    #bblue>div{
        height: 50px;
        display: inline-block;
        background-color:lightblue;
        border: 4px solid white;
        width: 50%;
    }
    #go>div:first-child{
        height: 50px;
        display: inline-block;
        background-color: rgb(15, 128, 0);
        border: 4px solid white;
        width: 78%;
    }
    #go>div:last-child{
        height: 50px;
        display: inline-block;
        background-color: orange;
        border: 4px solid white;
        width: 22%;
    }
}