body{
    background-image: url(https://www.telegraph.co.uk/content/dam/Travel/2018/January/white-plane-sky.jpg?imwidth=450);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    margin: 0;
}
#header{
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
    text-align: center;
    background-image: url(https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg/cumulus-cloud.jpg/metofficegovuk%3AheroMedium);
    margin: 0px;
    background-size: cover;
}
.title{
    height: 100%;
    font-weight: bold;
    font-size: 100px;
    text-align: justify;
    width: 100%;
    text-align: center;
}